## stuff from emacs
*~
.#*

## python stuff
*.pyc
Makefile
install_manifest.txt
examples/langevin/Structured40x40.msh
examples/langevin/gyre40x40_trajectories.vtp
examples/langevin/gyre40x40_9.vtu
examples/langevin/gyre40x40_8.vtu
examples/langevin/gyre40x40_7.vtu
examples/langevin/gyre40x40_6.vtu
examples/langevin/gyre40x40_5.vtu
examples/langevin/gyre40x40_4.vtu
examples/langevin/gyre40x40_3.vtu
examples/langevin/gyre40x40_2.vtu
examples/langevin/gyre40x40_10.vtu
examples/langevin/gyre40x40_1.vtu
examples/langevin/gyre40x40_0.vtu
examples/langevin/gyre40x40_0.0_9.vtp
examples/langevin/gyre40x40_0.0_9.csv
examples/langevin/gyre40x40_0.0_8.vtp
examples/langevin/gyre40x40_0.0_8.csv
examples/langevin/gyre40x40_0.0_7.vtp
examples/langevin/gyre40x40_0.0_7.csv
examples/langevin/gyre40x40_0.0_6.vtp
examples/langevin/gyre40x40_0.0_6.csv
examples/langevin/gyre40x40_0.0_5.vtp
examples/langevin/gyre40x40_0.0_5.csv
examples/langevin/gyre40x40_0.0_4.vtp
examples/langevin/gyre40x40_0.0_4.csv
examples/langevin/gyre40x40_0.0_3.vtp
examples/langevin/gyre40x40_0.0_3.csv
examples/langevin/gyre40x40_0.0_2.vtp
examples/langevin/gyre40x40_0.0_2.csv
examples/langevin/gyre40x40_0.0_10.vtp
examples/langevin/gyre40x40_0.0_10.csv
examples/langevin/gyre40x40_0.0_1.vtp
examples/langevin/gyre40x40_0.0_1.csv
examples/langevin/gyre40x40_0.0_0.vtp
examples/langevin/gyre40x40_0.0_0.csv
examples/langevin/gyre40x40_0.01_9.vtp
examples/langevin/gyre40x40_0.01_9.csv
examples/langevin/gyre40x40_0.01_8.vtp
examples/langevin/gyre40x40_0.01_8.csv
examples/langevin/gyre40x40_0.01_7.vtp
examples/langevin/gyre40x40_0.01_7.csv
examples/langevin/gyre40x40_0.01_6.vtp
examples/langevin/gyre40x40_0.01_6.csv
examples/langevin/gyre40x40_0.01_5.vtp
examples/langevin/gyre40x40_0.01_5.csv
examples/langevin/gyre40x40_0.01_4.vtp
examples/langevin/gyre40x40_0.01_4.csv
examples/langevin/gyre40x40_0.01_3.vtp
examples/langevin/gyre40x40_0.01_3.csv
examples/langevin/gyre40x40_0.01_2.vtp
examples/langevin/gyre40x40_0.01_2.csv
examples/langevin/gyre40x40_0.01_10.vtp
examples/langevin/gyre40x40_0.01_10.csv
examples/langevin/gyre40x40_0.01_1.vtp
examples/langevin/gyre40x40_0.01_1.csv
examples/langevin/gyre40x40_0.01_0.vtp
examples/langevin/gyre40x40_0.01_0.csv
examples/langevin/gyre40x40_0.001_9.vtp
examples/langevin/gyre40x40_0.001_9.csv
examples/langevin/gyre40x40_0.001_8.vtp
examples/langevin/gyre40x40_0.001_8.csv
examples/langevin/gyre40x40_0.001_7.vtp
examples/langevin/gyre40x40_0.001_7.csv
examples/langevin/gyre40x40_0.001_6.vtp
examples/langevin/gyre40x40_0.001_6.csv
examples/langevin/gyre40x40_0.001_5.vtp
examples/langevin/gyre40x40_0.001_5.csv
examples/langevin/gyre40x40_0.001_4.vtp
examples/langevin/gyre40x40_0.001_4.csv
examples/langevin/gyre40x40_0.001_3.vtp
examples/langevin/gyre40x40_0.001_3.csv
examples/langevin/gyre40x40_0.001_2.vtp
examples/langevin/gyre40x40_0.001_2.csv
examples/langevin/gyre40x40_0.001_10.vtp
examples/langevin/gyre40x40_0.001_10.csv
examples/langevin/gyre40x40_0.001_1.vtp
examples/langevin/gyre40x40_0.001_1.csv
examples/langevin/gyre40x40_0.001_0.vtp
examples/langevin/gyre40x40_0.001_0.csv
CTestTestfile.cmake
CMakeFiles/TargetDirectories.txt
CMakeFiles/target.dir/progress.make
CMakeFiles/target.dir/DependInfo.cmake
CMakeFiles/target.dir/depend.make
CMakeFiles/target.dir/depend.internal
CMakeFiles/target.dir/cmake_clean.cmake
CMakeFiles/target.dir/build.make
CMakeFiles/progress.marks
CMakeFiles/Makefile2
CMakeFiles/Makefile.cmake
CMakeFiles/feature_tests.cxx
CMakeFiles/feature_tests.c
CMakeFiles/feature_tests.bin
CMakeFiles/CMakeRuleHashes.txt
CMakeFiles/CMakeOutput.log
CMakeFiles/CMakeDirectoryInformation.cmake
CMakeFiles/cmake.check_cache
CMakeFiles/3.10.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
CMakeFiles/3.10.2/CompilerIdCXX/a.out
CMakeFiles/3.10.2/CompilerIdC/CMakeCCompilerId.c
CMakeFiles/3.10.2/CompilerIdC/a.out
CMakeFiles/3.10.2/CMakeSystem.cmake
CMakeFiles/3.10.2/CMakeDetermineCompilerABI_CXX.bin
CMakeFiles/3.10.2/CMakeDetermineCompilerABI_C.bin
CMakeFiles/3.10.2/CMakeCXXCompiler.cmake
CMakeFiles/3.10.2/CMakeCCompiler.cmake
CMakeCache.txt
cmake_install.cmake
build/timestamp
build/lib.linux-x86_64-2.7/particle_model/Timestepping.py
build/lib.linux-x86_64-2.7/particle_model/TemporalCache.py
build/lib.linux-x86_64-2.7/particle_model/System.py
build/lib.linux-x86_64-2.7/particle_model/Stochastic.py
build/lib.linux-x86_64-2.7/particle_model/SolidInteractions.py
build/lib.linux-x86_64-2.7/particle_model/Particles.py
build/lib.linux-x86_64-2.7/particle_model/ParticleBase.py
build/lib.linux-x86_64-2.7/particle_model/Parallel.py
build/lib.linux-x86_64-2.7/particle_model/Options.py
build/lib.linux-x86_64-2.7/particle_model/Math.py
build/lib.linux-x86_64-2.7/particle_model/IO.py
build/lib.linux-x86_64-2.7/particle_model/GmshIO.py
build/lib.linux-x86_64-2.7/particle_model/DragModels.py
build/lib.linux-x86_64-2.7/particle_model/Debug.py
build/lib.linux-x86_64-2.7/particle_model/Coupling.py
build/lib.linux-x86_64-2.7/particle_model/Collision.py
build/lib.linux-x86_64-2.7/particle_model/__init__.py
bin/make_trajectories
particle_model/vtk_extras.so
particle_model/vtkParticlesPython.so
setup.py
src/CMakeFiles/CMakeDirectoryInformation.cmake
src/CMakeFiles/progress.marks
src/CMakeFiles/vtk_extras.dir/BoundingSurface.cxx.o
src/CMakeFiles/vtk_extras.dir/build.make
src/CMakeFiles/vtk_extras.dir/cmake_clean.cmake
src/CMakeFiles/vtk_extras.dir/CXX.includecache
src/CMakeFiles/vtk_extras.dir/depend.internal
src/CMakeFiles/vtk_extras.dir/depend.make
src/CMakeFiles/vtk_extras.dir/DependInfo.cmake
src/CMakeFiles/vtk_extras.dir/flags.make
src/CMakeFiles/vtk_extras.dir/link.txt
src/CMakeFiles/vtk_extras.dir/Picker.cxx.o
src/CMakeFiles/vtk_extras.dir/progress.make
src/CMakeFiles/vtk_extras_mod.dir/build.make
src/CMakeFiles/vtk_extras_mod.dir/cmake_clean.cmake
src/CMakeFiles/vtk_extras_mod.dir/CXX.includecache
src/CMakeFiles/vtk_extras_mod.dir/depend.internal
src/CMakeFiles/vtk_extras_mod.dir/depend.make
src/CMakeFiles/vtk_extras_mod.dir/DependInfo.cmake
src/CMakeFiles/vtk_extras_mod.dir/flags.make
src/CMakeFiles/vtk_extras_mod.dir/link.txt
src/CMakeFiles/vtk_extras_mod.dir/PickerObject.cxx.o
src/CMakeFiles/vtk_extras_mod.dir/progress.make
src/CMakeFiles/vtk_extras_mod.dir/vtk_extras.cxx.o
src/CMakeFiles/vtkParticles.dir/build.make
src/CMakeFiles/vtkParticles.dir/cmake_clean.cmake
src/CMakeFiles/vtkParticles.dir/CXX.includecache
src/CMakeFiles/vtkParticles.dir/depend.internal
src/CMakeFiles/vtkParticles.dir/depend.make
src/CMakeFiles/vtkParticles.dir/DependInfo.cmake
src/CMakeFiles/vtkParticles.dir/flags.make
src/CMakeFiles/vtkParticles.dir/link.txt
src/CMakeFiles/vtkParticles.dir/progress.make
src/CMakeFiles/vtkParticles.dir/vtkGenericProbe.cxx.o
src/CMakeFiles/vtkParticles.dir/vtkGmshReader.cxx.o
src/CMakeFiles/vtkParticles.dir/vtkGranularTemperature.cxx.o
src/CMakeFiles/vtkParticles.dir/vtkMergePointFilter.cxx.o
src/CMakeFiles/vtkParticles.dir/vtkShowCVs.cxx.o
src/CMakeFiles/vtkParticlesPython.dir/build.make
src/CMakeFiles/vtkParticlesPython.dir/cmake_clean.cmake
src/CMakeFiles/vtkParticlesPython.dir/CXX.includecache
src/CMakeFiles/vtkParticlesPython.dir/depend.internal
src/CMakeFiles/vtkParticlesPython.dir/depend.make
src/CMakeFiles/vtkParticlesPython.dir/DependInfo.cmake
src/CMakeFiles/vtkParticlesPython.dir/flags.make
src/CMakeFiles/vtkParticlesPython.dir/link.txt
src/CMakeFiles/vtkParticlesPython.dir/progress.make
src/CMakeFiles/vtkParticlesPython.dir/vtkGenericProbePython.cxx.o
src/CMakeFiles/vtkParticlesPython.dir/vtkGmshReaderPython.cxx.o
src/CMakeFiles/vtkParticlesPython.dir/vtkGranularTemperaturePython.cxx.o
src/CMakeFiles/vtkParticlesPython.dir/vtkMergePointFilterPython.cxx.o
src/CMakeFiles/vtkParticlesPython.dir/vtkParticlesPythonInit.cxx.o
src/CMakeFiles/vtkParticlesPython.dir/vtkParticlesPythonInitImpl.cxx.o
src/CMakeFiles/vtkParticlesPython.dir/vtkShowCVsPython.cxx.o
src/CMakeFiles/vtkParticlesPythonD.dir/build.make
src/CMakeFiles/vtkParticlesPythonD.dir/cmake_clean.cmake
src/CMakeFiles/vtkParticlesPythonD.dir/cmake_clean_target.cmake
src/CMakeFiles/vtkParticlesPythonD.dir/CXX.includecache
src/CMakeFiles/vtkParticlesPythonD.dir/depend.internal
src/CMakeFiles/vtkParticlesPythonD.dir/depend.make
src/CMakeFiles/vtkParticlesPythonD.dir/DependInfo.cmake
src/CMakeFiles/vtkParticlesPythonD.dir/flags.make
src/CMakeFiles/vtkParticlesPythonD.dir/link.txt
src/CMakeFiles/vtkParticlesPythonD.dir/progress.make
src/CMakeFiles/vtkParticlesPythonD.dir/vtkGenericProbePython.cxx.o
src/CMakeFiles/vtkParticlesPythonD.dir/vtkGmshReaderPython.cxx.o
src/CMakeFiles/vtkParticlesPythonD.dir/vtkGranularTemperaturePython.cxx.o
src/CMakeFiles/vtkParticlesPythonD.dir/vtkMergePointFilterPython.cxx.o
src/CMakeFiles/vtkParticlesPythonD.dir/vtkParticlesPythonInitImpl.cxx.o
src/CMakeFiles/vtkParticlesPythonD.dir/vtkShowCVsPython.cxx.o
src/libvtk_extras.so
src/libvtkParticles.so
src/libvtkParticlesPythonD.a
src/vtk_extras_mod.so
src/vtkGenericProbePython.cxx
src/vtkGmshReaderPython.cxx
src/vtkGranularTemperaturePython.cxx
src/vtkMergePointFilterPython.cxx
src/vtkParticlesPython.args
src/vtkParticlesPython.so
src/vtkParticlesPythonInit.cxx
src/vtkParticlesPythonInit.data
src/vtkParticlesPythonInitImpl.cxx
src/vtkShowCVsPython.cxx
bin/make_trajectories
